<%-include('header-1')-%>
<link rel="stylesheet" href="/CSS/common.css">
<%-include('navbar')-%>
<div id="block">
    <h1><%=heading%></h1>
    <p><%=describeyourself%></p>
</div>
<%-include('footer')-%>